@import "tailwindcss";

:root {
  --wedding-primary: #173f35;
  --wedding-gold: #c9a96e;
  --wedding-gold-light: #e5c98a;
  --wedding-ivory: #f8f4ec;
  --wedding-surface: #fffdf8;
  --wedding-text: #24312c;
  --wedding-muted: #756f65;
  --wedding-gold-dark: #a98252;
}

@import "tailwindcss";

@theme {
    --font-allura: "Allura", cursive;

  --color-wedding-primary: #173f35;
  --color-wedding-gold: #c9a96e;
  --color-wedding-gold-light: #b97d6d;
  --color-wedding-gold-dark: #a98252;

  --color-wedding-ivory: #f8f4ec;
  --color-wedding-surface: #fffdf8;

  --color-wedding-text: #ac897c;
  --color-wedding-muted: #756f65;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
